# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.DasikAI_example.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\Development\Gamedev\DasikAI_example\.idea\.idea.DasikAI_example\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
